<footer id="contact_us" class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="h1 text-white">Get in touch</h5>
          <p class="small text-muted">
            Thanks for visiting this website. If you want to chat about your
            projects and collaboration, please contact us:
            <br>
            <a href="mailto:info@gimage.ca">
              <img class="contact_icon" src="../img/email_icon.svg" alt="email" width="15" height="15"
                class="d-inline-block align-top">
              <mark class="email">
                <strong> info@gimage.ca</strong></mark>
            </a>
            <br>
            <a href="tel:+14189452044">
              <img class="contact_icon" src="../img/phone_icon.svg" alt="phone" width="15" height="15"
                class="d-inline-block align-top">
              <mark class="email">
                <strong> (418) 945-2044</strong></mark>
            </a>

          </p>
        </div>
        <div class="col-lg-7 col-md-6">
          <iframe title="form" width="640px" height="480px"
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=znKrvsStp0y5_NY4oZ1gD61xPiDscFxEnV7Y4m4vP8JUNTVWNERBU1pIVVpNMjk0RTBDUTNQMUE4My4u&embed=true"
            frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
            allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen>
          </iframe>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="#services">Services</a>
            </li>
            <!-- <li><a href="index.html">About</a></li>
                <li><a href="#research">Research interests</a></li>
                <li><a href="#contact_us">Get in touch</a></li> -->
          </ul>

        </div>
        <p class="small text-muted mb-0">
          &copy; Copyrights. All rights reserved.
          <!-- <a class="text-primary" href="#">GImage</a> -->
        </p>
      </div>
      </ul>
    </div>
    </div>
    </div>
  </footer>
  <!-- Footer -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../scripts/script.js"></script>
  <!-- <script src="../scripts/title.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>